# Byte-compiled / optimized / DLL files
code/**/__pycache__/
code/**/*.py[cod]

# Virtual environment
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter notebooks
.ipynb_checkpoints/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
